<div class="list" *ngIf="isLoggedIn">
  <h1>Effectuer une recherche de thèses dans la base de données de notre site </h1>
    <div class="col-md-8">
        <div class="input-group mb-3">
            <input
                type="text"
                class="form-control"
                placeholder="Recherche par titre dans la base de données"
                [(ngModel)]="title"
            />

            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="searchTitle()">Recherche</button>
            </div>

          </div>
    </div>

        <h4>Liste de thèses </h4>
    <div class="resultat">
      
        <div class="these" *ngIf="theses">  
            <ul class="list-group">
                <li 
                    class="list-group-item" 
                    *ngFor="let these of theses |filter:title; let i = index" 
                    [class.active]="i == currentIndex"
                    (click)="setActiveThese(these, i)">         
                    {{ these.titre }} 
                </li>
            </ul>
      
            <button class="m-3 btn btn-sm btn-danger" (click)="removeAllTheses()">
                tout supprimer.
            </button>

        </div>









        <div class="currentThese">
            <div *ngIf="currentThese.id">

              <table class="table  table-striped">
                <thead>
                  <tr>
                    <th scope="col">Thèse</th>
                    <th scope="col"> {{currentThese.titre}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>auteur:</th>
                    <td>{{currentThese.auteur}}</td>
                  </tr> 
                  <tr>
                    <th>Statut de la thèse</th>
                    <td>{{currentThese.status}}</td>
                  </tr>
                  <tr>
                    <td>
                      <a class="btn btn-dark" href='http://www.theses.fr/{{currentThese.num}}' target="_blank"> Consulter sur theses.fr </a>
                    </td>
                    <td>
                      <a class="btn btn-warning" routerLink="/theses/{{ currentThese.id }}">
                        Editer ou supprimer
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
          
            </div>
  
            <div *ngIf="!currentThese.id">
                <br />
                <p>Merci de cliquer sur une These...</p>
            </div>
        </div>




    </div>
</div>