.list {
    text-align: left;
    max-width: 750px;
    margin: auto;
  }

.row {margin-top: 10px;}

table{
  border:solid;
  max-height: 200px;
  overflow-y: scroll;
  max-width: 400px;
}

ul{
  max-height: 400px;
  overflow-y: scroll;
  max-width: 400px;
}

.resultat{
  display: flex;
  margin: auto;
  justify-content:space-between ;
}

.these{
  margin-right: 50px;
}
.currentThese{
  margin: auto;
}