<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">site stage</a>
    <div class="navbar-nav mr-auto">
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item" *ngIf="showAdminBoard">
          <a href="/admin" class="nav-link" routerLink="admin">Tableau de bord administrateur</a>
        </li>
          <li class="nav-item" *ngIf="showModeratorBoard">
            <a href="/mod" class="nav-link" routerLink="mod">Tableau de bord modérateur</a>
          </li>
          <li class="nav-item">
            <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">Utilisateur</a>
          </li>
        <li class="nav-item">
          <a routerLink="theses" class="nav-link" *ngIf="isLoggedIn">Theses</a>
        </li>
        <li class="nav-item">
          <a routerLink="recuperationTheseDepuisSiteOfficiel" class="nav-link" *ngIf="isLoggedIn">these en provenance de theses.fr</a>
        </li>
        <li class="nav-item">
          <a routerLink="rssReader" class="nav-link" *ngIf="isLoggedIn">Lecteur RSS</a>
        </li>
      </ul>

    </div>
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Inscription</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Connexion</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">Déconnexion</a>
      </li>
    </ul>
  </nav>



  
  <main>
    <router-outlet ></router-outlet>
    <app-twitter></app-twitter>
  </main>