
<div *ngIf="isLoggedIn">
      <H1>Site Stage</H1>
      <div class="container">
            <p>Bienvenue, ce site a pour but de permettre d'effectuer une veille technologique de manière simple au profit du CRPOC/PREPAOPS. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa illo quos atque temporibus numquam placeat voluptatem! Eaque sit delectus, odit tempora quaerat nam reiciendis nesciunt excepturi aliquam aliquid necessitatibus perferendis.</p>
      </div>
</div>