<div *ngIf="isLoggedIn">
  <div>
      <div *ngIf="currentThese.id" class="edit-form">
        <h4>These</h4>
        <form>
          <div class="form-group">
            <label for="title">Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              [(ngModel)]="currentThese.titre"
              name="title"
            />
          </div>
          <div class="form-group">
            <label for="description">Auteur</label>
            <input
              type="text"
              class="form-control"
              id="description"
              [(ngModel)]="currentThese.auteur"
              name="description"
            />
          </div>
          <div class="form-group">
            <label for="description">Langue</label>
            <input
              type="text"
              class="form-control"
              id="description"
              [(ngModel)]="currentThese.langueThese"
              name="description"
            />
          </div>
    
          
        </form>
    
        <button
        type="submit"
        class="btn btn-success"
        (click)="updateThese()"
        >
        Modifier
      </button>
      
  
      <button class="btn btn-danger" (click)="deleteThese()">
        Supprimer
      </button>
  
        <p>{{ message }}</p>
      </div>
    
      <div *ngIf="!currentThese.id">
        <br />
        <p>Cannot access this These...</p>
      </div>
  </div>
</div>