<div *ngIf="isLoggedIn">
  <div id="input">
      <h1>
        Chercher votre thèse sur le site officiel.    
      </h1>
      <input type="text" class="form-control" [(ngModel)]="sujetRecherche">
      <button (click)="displayData()" >Récupérer les données</button>
  </div>

  
    <div id="placement" *ngIf="listThesesFromWebsite.response.docs"  >
      <div id="la">
        <ul >
          <li *ngFor="let these of listThesesFromWebsite.response.docs; let i=index"           
          [class.active]="i == currentIndex"
          (click)="setActiveThese(these, i)"> 
              <span> Titre:                  {{these.titre}}</span> <br>
              <span> Auteur:                 {{these.auteur}}</span> <br>
              <span> Langue:                 {{these.langueThese}}</span> <br>
              <span> Date de soutenance:     {{these.dateSoutenance}}</span> <br>
              <span> Accessibilité en ligne: {{these.accessible}}</span> <br> <hr>
          </li>
        </ul>
      </div>  
      
      
      <div id="lo">
        <ul *ngIf="currentThese.titre" id="test">
          <td>Titre:  {{currentThese.titre}}</td><br>
          <td>Auteur: {{currentThese.auteur}}</td><br>
          <td>Langue: {{currentThese.langueThese}}</td><br>          
          <button class="btn btn-primary" (click)="saveThese()" >Enregistrer sur ce site</button>
          <a class="btn btn-dark" href='http://www.theses.fr/{{currentThese.num}}' target="_blank"> Consulter sur theses.fr </a>
        </ul>
      </div>
      
    </div>



</div>