ul {
    list-style-type: none;
    }

#placement {
    display: flex;
    max-width: 1000px;
    justify-content:space-around ;
    margin: auto;
    flex-direction: row;
}

h1{
    text-align: center;
}
  
#la{
    overflow-y: scroll;
    height: 500px;
    max-width: 400px;
    margin: auto;
    display: flex;

}

#lo{
max-width: 300px;
margin: auto;
display: flex;
}

#input{
display:flex;
flex-direction:column;
width: 300px;
margin: auto;
}
