<div class="col-md-12">
    <div class="card card-container">
      <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      />
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="username">Nom d'utilisateur</label>
          <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="form.username"
            required
            minlength="3"
            maxlength="20"
            #username="ngModel"
          />
          <div class="alert-danger" *ngIf="username.errors && f.submitted">
            <div *ngIf="username.errors.required">Nom d'utilisateur requis</div>
            <div *ngIf="username.errors.minlength">
              Le nom d'utilisateur doit faire au moins 3 caractères
            </div>
            <div *ngIf="username.errors.maxlength">
              Le nom d'utilisateur doit faire au moins 20 caractères
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="form.email"
            required
            email
            #email="ngModel"
          />
          <div class="alert-danger" *ngIf="email.errors && f.submitted">
            <div *ngIf="email.errors.required">Email requis</div>
            <div *ngIf="email.errors.email">
              L'email doit être une adresse mail valide
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">mot de passe</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
          />
          <div class="alert-danger" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors.required">mot de passe requis</div>
            <div *ngIf="password.errors.minlength">
              Le mot de passe doit faire au moins 6 caractères
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">Inscription</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Inscription ratée!<br />{{ errorMessage }}
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        Vous êtes maintenant enregistré!
      </div>
    </div>
  </div>
  