<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Titre</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="these.titre"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="description">auteur</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="these.auteur"
          name="description"
        />
      </div>

      
      <div class="form-group">
        <label for="description">langue</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="these.langueThese"
          name="description"
        />
      </div>

      
      <div class="form-group">
        <label for="description">status</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="these.status"
          name="description"
        />
      </div>

      
      <div class="form-group">
        <label for="description">accessible en ligne</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="these.accessible"
          name="description"
        />
      </div>

      
      <div class="form-group">
        <label for="description">etablissement</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="these.etablissement"
          name="description"
        />
      </div>

      
      <div class="form-group">
        <label for="description">etablissement de soutenance</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="these.etabSoutenance"
          name="description"
        />
      </div>

      
      <div class="form-group">
        <label for="description">directeur de these</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="these.directeurThese"
          name="description"
        />
      </div>

      
      <div class="form-group">
        <label for="description">auteur</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="these.auteur"
          name="description"
        />
      </div>

      

      <button (click)="saveThese()" class="btn btn-success">Enregistrer</button>
    </div>

    <div *ngIf="submitted">
      <h4>La thèse a été enregistrée avec succès!</h4>
      <button class="btn btn-success" (click)="newThese()">Ajouter</button>
    </div>
  </div>
</div>
